body {
  background: $summer-sky;
  color: $black;
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  line-height: 1.6;

  @include susy-breakpoint($tablet, $susy) {
    font-size: 100%;
  }
}

img {
  @extend %fluid-image;
}

.row {
  @extend %clearfix;
}

.wrapper {
  @extend %wrapper;
  @extend %clearfix;
  @include container;
}

.span1 {
  @include span-columns(1);
}

.span2 {
  @include span-columns(2);
}

.span3 {
  @include span-columns(3);
}

.span4 {
  @include span-columns(4);
}

.span5 {
  @include span-columns(5);
}

.span6 {
  @include span-columns(6);
}

.span7 {
  @include span-columns(7);
}

.span8 {
  @include span-columns(8);
}

.span9 {
  @include span-columns(9);
}

.span10 {
  @include span-columns(10);
}

.span11 {
  @include span-columns(11);
}

.span12 {
  @include span-columns(12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
  margin: 0 0 20px;
}

a {
  color: $breeze;
}

ul,
ol {
  padding-left: $gutter-width;

  @include susy-breakpoint($tablet, $susy) {
    padding-left: $gutter-width * 3;
  }
}

#header {
  background: $white;
  border-bottom: 3px solid $summer-sky;
  padding: 0 0 10px;
  text-align: center;

  @include susy-breakpoint($tablet, $susy) {
    padding-bottom: 20px;
  }

  .avatar {
    img {
      max-height: 100px;

      @include susy-breakpoint($tablet, $susy) {
        max-height: none;
      }
    }
  }

  h1 {
    line-height: 1.2;
    margin: 0 0 10px;
  }

  p {
    margin: 0;
  }

  .social {
    @include susy-breakpoint($tablet, $susy) {
      position: absolute;
      right: 20px;
      top: 5px;
    }

    li {
      font-size: 20px;
    }
  }
}

#nav {
  margin: 20px 0 0;
}

.navigation {
  @extend %reset;

  li {
    display: inline-block;
    margin: 0 30px 0 0;

    a {
      text-decoration: none;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#content {
  background: $romance;
  padding: 30px 0;
}

section {
  margin: 0 0 50px;
}

#skillset {
  ul {
    @extend %clearfix;
    @extend %reset;
    list-style: inside;
  }

  li {
    float: left;
    margin: 0 20px 10px 0;
  }
}

#experience {
  .role {
    margin: 0 0 30px;

    h4 {
      display: inline-block;
      margin: 0 5px 0 0;
    }

    .content {
      display: inline-block;

      p {
        margin: 0;
      }
    }

    .technologies {
      ul {
        @extend %reset;

        li {
          display: inline-block;
          margin: 0 5px 0 0;

          &:after {
            content: ",";
          }

          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }
    }

    .description {
      margin-top: 20px;

      h4 {
        display: block;
      }

      .content {
        color: $natural-gray;
        font-style: italic;
        display: block;
      }
    }
  }

  header {
    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

#recommendations {
  margin-bottom: 50px;

  .owl-pagination {
    display: none;
  }

  .owl-buttons {
    margin-top: 20px;
    
    div {
      font-size: 14px;
    }
  }

  .recommendation {
    padding: 0 40px 0 0;
  }

  blockquote {
    @extend %reset;

    .quote {
      color: $natural-gray;
      font-family: 'Noto Serif', serif;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      margin: 0 10px;

      @include susy-breakpoint($tablet, $susy) {
        font-size: 14px;
      }
    }

    .author {
      color: $natural-gray;
      font-size: 12px;

      @include susy-breakpoint($tablet, $susy) {
        font-size: 14px;
      }

      span {
        color: $warm-peach;
        display: block;

        @include susy-breakpoint($tablet, $susy) {
          display: inline;
          margin: 0 4px 0 0;
        }
      }
    }
  }
}

#projects {
  .project {
    cursor: pointer;
    padding: 0 20px;
    position: relative;
    text-align: center;

    &:hover {
      .thumbnail {
        border-color: $breeze;
        
        img {
          opacity: .55;
        }

        .fa {
          opacity: 1;
        }
      }

      h3 {
        color: lighten($black, 25%);
      }
    }

    .thumbnail {
      border: 2px solid $field;
      margin: 0 0 8px;
      position: relative;
      
      img {
        transition: all .2s ease-out;
      }

      .fa {
        color: $black;
        font-size: 50px;
        height: 50px;
        left: 50%;
        margin: -25px 0 0 -25px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transition: all .2s ease-out;
        width: 50px;
        z-index: 2;
      }
    }

    .video {
      display: none;
    }

    h3 {
      font-size: 14px;
      margin: 0 0 5px;
    }

    .url {
      font-size: 12px;
      line-height: 1;

      a {
        text-decoration: none;
      }
    }
  }

  .owl-buttons {
    display: none;

    .owl-prev {
      height: 37px;
      left: 0;
      margin: -18.5px 0 0;
      position: absolute;
      top: 40%;
    }

    .owl-next {
      height: 37px;
      margin: -18.5px 0 0;
      position: absolute;
      right: 0;
      top: 40%;
    }

    .fa {
      font-size: 30px;
    }

    span {
      display: none;
    }
  }
}

#lightbox-overlay {
  background: rgba($black, .75);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0%;
  transition: all .2s ease-out;
  width: 100%;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 9999;
  }
}

.lightbox {
  background: $black;
  border: 3px solid $breeze;
  box-shadow: 5px 5px 5px rgba($black, .5);
  margin: 10% auto 0;
  position: relative;
  width: 90%;

  @include susy-breakpoint($tablet, $susy) {
    margin-top: 20px;
    width: 80%;
  }

  .close {
    color: $white;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    right: -20px;
    top: -24px;
  }
}

#footer {
  padding: 20px 0;
  text-align: center;

  .social {
    margin: 0 0 20px;

    a {
      color: $white;
    }
  }

  p {
    color: lighten($summer-sky, 25%);
    font-size: 14px;
    margin: 0;
  }
}

.social {
  @extend %reset;
  @extend %clearfix;
  font-size: 24px;

  li {
    display: inline-block;
    margin: 0 15px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

#made-with {
  text-align: center;

  h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }

  img {
    display: inline-block;
    max-width: 50px;
  }
}
