// Layout
// ============

$columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$max-width: 1224px;
$asset-path: '/dist';

$susy: (
  container: $max-width,
  columns: $columns,
  column-width: $column-width,
  gutters: ($gutter-width/$column-width),
  global-box-sizing: border-box,
  last-flow:from
);

// Breakpoints
// ============

$tablet: 768px; // min-width: 768px
$desktop: 1024px; // min-width: 1024px


// Colors
// ============

$black: #333;
$breeze: #438496;
$field: #b37d4e;
$natural-gray: #8b8680;
$romance: #fffefc;
$summer-sky: #286da8;
$warm-peach: #cd5360;
$white: #fff;


